---
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
import LastBlog from "../../components/LastBlog.astro";
import BlogPosts from "../../components/BlogPosts.astro";
---

<BlogPostLayout title="Blog page">
  <main class="flex-grow">
    <div>
      <h2>Last Entry</h2>
      <LastBlog />
    </div>
    <div>
      <h2>Recent Blogs</h2>
      <BlogPosts />
    </div>
  </main>
</BlogPostLayout>
