---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import bakugo1 from "../../public/bakugo1.png";
import deku1 from "../../public/deku1.png";
---

<Layout title="Welcome to Lezack.">
  <main class="my-10">
    <Header />
    <div class="flex justify-around gap-10 mx-10">
      <Card name="Leo" img={deku1} actual_kin="Izuku" border_color="green-700">
        Leo is a trans boy, he is very kind and affectionate and although he
        seems serious at times, he actually has a very good sense of humor, he
        makes me laugh a lot and shows me very interesting things. He is very
        smart and always thinks before acting. He also thinks a lot about the
        situation and the right decisions that he should make.
      </Card>
      <Card
        name="Zack"
        img={bakugo1}
        actual_kin="Katsuki"
        border_color="orange-800"
      >
        I am myself haha. I am the Leo's boyfriend and I don't have nothing
        special to say about myself, just that I love Leo so much that I would
        do whatever I have to do for him, so he can be happy and comfortable
        with me. If my little boy wants, I would like him to tell me what I
        should place here.
      </Card>
    </div>
  </main>
</Layout>
