---
const posts = await Astro.glob("../pages/blog/post/*.mdx");
const lastPost = posts.filter((post) => post.frontmatter.id == posts.length)[0];
---

<div>
  <p>🔴 {lastPost.frontmatter.topic}</p>
  <a href={lastPost.url}>{lastPost.frontmatter.title}</a>
  <p>{lastPost.frontmatter.description}</p>
</div>
