<nav class="flex justify-between mx-20 my-5">
  <h3 class="text-gray-800 text-xl font-medium">Lezack</h3>
  <ul class="flex space-x-14 justify-end">
    <li>
      <a
        class="text-green-700 hover:text-orange-800 duration-150 text-lg"
        href="/">Home</a
      >
    </li>
    <li>
      <a
        class="text-green-700 hover:text-orange-800 duration-150 text-lg"
        href="/blog">Blog</a
      >
    </li>
  </ul>
</nav>
